.navbar-cadastro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0a0c1b00;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.tr_users {
    align-items: center;
}

.delete-button {
    width: 35px;
}

.logout-image {
    width: 24px; /* Ajuste para o tamanho desejado */
    height: 24px; /* Mantém proporção */
    object-fit: contain; /* Garante que a imagem se ajusta sem distorção */
}

.navbar-right {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    height: 100%; /* Garante que ocupe toda a altura da barra de navegação */
}
