
.navbar-cadastro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0a0c1b00;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.tr_users {
    align-items: center;
}




